* text=auto eol=lf

*.sh    text eol=lf
*.bash  text eol=lf
*.ps1   text eol=crlf
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.c     text eol=lf
*.h     text eol=lf
*.cmake text eol=lf
*.txt   text eol=lf
*.md    text eol=lf
*.json  text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.glsl  text eol=lf
*.fs    text eol=lf
*.vs    text eol=lf
*.rc    text eol=crlf

*.exe   binary
*.dll   binary
*.o     binary
*.obj   binary
*.a     binary
*.lib   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.wasm  binary
*.html  text eol=lf
*.js    text eol=lf